<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SnapQuest</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'images/style.css' %}">
</head>
<body>
    <div class="container-fluid landing-page">
        <div class="row justify-content-center" style="display: flex; flex-direction: column; align-items: center;">
            <div class="col-md-12">
                <div class="logo" style="text-align: center">
                    <h1 class="text-center" style="font-family: 'Dancing Script', cursive; font-size: 5rem;">SnapQuest</h1>
                </div>
                <div class="search-form">
                    <form action="{% url 'search_results' %}" method="GET">
                        <div class="input-group">
                            <input type="text" class="form-control search-bar" name="query" placeholder="Search images..." value="{{ request.GET.query }}">
                            <span class="input-group-btn">
                                <button type="submit" class="search-button">Search</button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row justify-content-center" style="margin-top: 30px;">
            <div class="col-md-12 text-center">
                <form action="{% url 'upload_image' %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        <input type="file" name="image" class="form-control-file" required>
                        <button type="submit" class="btn btn-primary">Upload Image</button>
                    </div>

                </form>
            </div>
        </div>
        <div class="row justify-content-center image-gallery" id="image-gallery" style="display: flex; flex-wrap: wrap; flex-direction: row !important; align-items: center;">
            {% if results %}
                {% for image in results %}
                    <div class="col-md-4 {% if forloop.counter > 5 %} image-hidden {% endif %} ">
                        {% load static %}
                        <br><img src="{% static image %}" alt="{{ image }}" class="img-thumbnail" width="250" height="250"><br>
                    </div>
                    {% if forloop.counter == 5 %}
                        <div class="col-md-12 text-center">
                            <button id="more-button">More</button>
                        </div>
                    {% endif %}
                {% endfor %}
            {% elif submitted %}
                <div class="col-md-12">
                    <p class="text-center" >Oops!! No results found for "{{ query }}".</p>
                </div>
            {% endif %}
        </div>
    </div>

    <script>
        const moreButton = document.getElementById("more-button");
        const imageGallery = document.getElementById("image-gallery");

        moreButton.addEventListener("click", function() {
            const hiddenImages = imageGallery.querySelectorAll(".image-hidden");
            hiddenImages.forEach(function(image) {
                image.classList.toggle("image-hidden");
            });
            moreButton.style.display = "none";
        });
    </script>
</body>
</html>
